
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">MUDAMUDAAPP</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Main</a></li>
            <li><a href="/create">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
    {{#if isIndex}}
        <h1>It's Index</h1>
    {{else}}
        <h1>It's not index</h1>
    {{/if}}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="/">Main</a></li>
            <li class="tab"><a class="active" href="/create">Create</a></li>
            <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab"><a href="#test4">Test 4</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
</ul>

<div id="test1" class="col s12">Test 1</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>
<div id="test4" class="col s12">Test 4</div>
