<form action="/create" method="post">
    <h2>
        Create Users
    </h2>

    <div class="input-field">
        <input type="text" name="name">
        <label>Users name</label>
    </div>

    <div class="date-field">
        <input type="date" name="date">
        <label>Date</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>